/* logo */

position: absolute;
width: 270.73px;
height: 82px;
left: 51.2px;
top: 238px;



/* JJ No Fish */

position: absolute;
width: 252px;
height: 76px;
left: 54px;
top: 244px;

font-family: 'Ballet';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 76px;
/* identical to box height */

color: #090688;

text-shadow: 0px 4px 4px rgba(162, 129, 151, 0.17);


/* JJ No Fish */

position: absolute;
width: 270.73px;
height: 51.52px;
left: 51.2px;
top: 251.56px;

background: #090688;


/* Star 1 */

box-sizing: border-box;

position: absolute;
width: 11px;
height: 10px;
left: 285px;
top: 265px;

background: #FFF965;
border: 1px solid rgba(158, 98, 9, 0.1);
box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);


/* image.psd 1 */

position: absolute;
width: 8px;
height: 18px;
left: 72px;
top: 238px;



/* Background */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(img1);


/* image.psd 2 */

position: absolute;
width: 12px;
height: 13px;
left: 244px;
top: 253px;



/* Background */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(img1);


/* Background */

position: absolute;
left: 0%;
right: 8.95%;
top: 0%;
bottom: 12.9%;

background: url(img2);


/* image.psd 4 */

position: absolute;
width: 18px;
height: 19px;
left: 58px;
top: 250px;



/* Background */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(img1);


/* Background */

position: absolute;
left: 0%;
right: 8.95%;
top: 0%;
bottom: 12.9%;

background: url(img2);


/* image.psd 3 */

position: absolute;
width: 12px;
height: 13px;
left: 129px;
top: 303px;



/* Background */

position: absolute;
visibility: hidden;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(img1);


/* Background */

position: absolute;
left: 0%;
right: 8.95%;
top: 0%;
bottom: 12.9%;

background: url(img2);



whooooaaaaaa

/* start button */
 .GDbttn {
    fill: #EDEFFD;
    stroke-width: 4px;
    stroke: #F8D4F6;
    width: 129px;
    height: 32px;
    flex-shrink: 0;
 }

 .boarder {
    width: 129px;
    height: 32px;
    flex-shrink: 0;
    border-style: dotted;
    border: 2px #FFFFFF;
 }
 
position: absolute;
width: 129px;
height: 32px;
left: 109px;
top: 335px;



/* Rectangle 1 */

position: absolute;
width: 129px;
height: 32px;
left: 109px;
top: 335px;

background: #EDEFFD;
border: 4px solid #F8D4F6;
border-radius: 10px;


/* Rectangle 2 */

box-sizing: border-box;

position: absolute;
width: 129px;
height: 32px;
left: 109px;
top: 335px;

background: #EDEFFD;
border: 2px dashed #FFFFFF;
border-radius: 10px;


/* start */

position: absolute;
width: 88px;
height: 18px;
left: 129px;
top: 342px;

font-family: 'Bakbak One';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 34px;
display: flex;
align-items: center;
text-align: center;

color: #A4C3FF;

text-shadow: 0px 1px 4px #FFFFFF;
